{% extends 'base.html' %}

{% block content %}

<h1>This is admin</h1>

<div class="container">
    <h1>Users</h1>
    <table class="table">
    
        <thead>
            <th>#</th>
            <th>Username</th>
            <th>Password</th>
            <th>name</th>
        </thead>
    
        <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{user._id}}</th>    
                    <td>{{user.username}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.name}}</td>
                </tr>
            {% endfor %}
        </tbody>
    
    </table>
</div>

<div class="container">
    <h1>Charities</h1>
    <table class="table">
    
        <thead>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Created</th>
        </thead>
    
        <tbody>
            {% for charity in charities %}
                <tr>
                    <th scope="row">{{charity._id}}</th>    
                    <td>{{charity.name}}</td>
                    <td>{{charity.description}}</td>
                    <td>{{charity.created}}</td>
                </tr>
            {% endfor %}
        </tbody>
    
    </table>
    <h3>New Charity</h3>
    <form action="{{ url_for('admin_form') }}" method="post">
        <div class="form-group">
          <label for="">Name</label>
          <input type="text" name="name" id="" class="form-control" placeholder="Name...">
        </div>

        <div class="form-group">
          <label for="">Description</label>
          <input type="text" name="description" id="" class="form-control" placeholder="Description...">
        </div>

        <div class="form-group">
            <input class='btn btn-primary' type="submit" value="Submit">
        </div>
    </form>
</div>

{% endblock content %}