{% extends 'base.html' %}

{% block content %}
    <div class="bg-light p-5 rounded-lg m-3">
        <h1 class="display-3">Charity Tracker</h1>
        <p class="lead">See what everyone does to make the world better</p>
    </div>
    
    <div class="row container mx-md-n5 m-auto">
        {% for charity in charities %}
            <div class="card col-lg-4 col-md-5 col-sm-10">
                <div class="card-body">
                    <h4 class="card-title">{{ charity.name }}</h4>
                    <p class="card-text">{{ charity.description }}</p>
                    <a href="charity/{{ charity._id }}"><button type="button" class="btn btn-primary">View</button></a>
                </div>
            </div>   
        {% endfor %}
        
    </div>

{% endblock content %}