{% extends 'base.html' %}

{% block content %}

    <h1>Hello {{ user.name }}</h1>
    <a href="{{ url_for('logout') }}"><button class="btn btn-primary">Log out</button></a>

    <div class="container">
        <h1>Donations Made</h1>
        <table class="table">
        
            <thead>
                <th>#</th>
                <th>Amount</th>
                <th>Donator</th>
                <th>Charity</th>
            </thead>
        
            <tbody>
                {% for donation in donations %}
                    <tr>
                        <th scope="row">{{donation._id}}</th>    
                        <td>{{donation.amount}}</td>
                        <td>{{donation.donator_id}}</td>
                        <td>{{donation.charity_id}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        
        </table>
    </div>

    <form action="" method="post">

        <div class="form-group">
            <label for="chosen-charity">Charity</label>
            <select name="chosen-charity" id="chosen-charity">
                {% for charity in charities %}
                    <option value="{{ charity._id }}">{{ charity.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="money">Money</label>
            <input type="number" name="money" id="money">
        </div>

        <div class="form-group">
            <input type="submit" value="Donate">
        </div>

    </form>

{% endblock content %}